/* All styles for your Card Components live here */
.react-logo{
    border: 1px green solid;
    /* width: 50%; */
    /* width: 504px; */
    /* height: 250px; */
}
img{
    width: 504px;
    height: 250px;
}
h2{
    color: rebeccapurple;
}
